

[ACC]
ACTIVITY  = "ACCC_WITH_DSP_3"
TOLN = 5        # MW Tolerance

# OPCIONES ACCC
OPTACC1  = 0    # tap flag, 0 - disable, 1 - step, 2 - direct
OPTACC2  = 0    # area interchage, 0 - disable
OPTACC3  = 0    # phase shift, 0 - disable
OPTACC4  = 0    # dc taps, 0 - disable
OPTACC5  = 0    # switched shunt, 0 - disable, 1 - enable, 2 - enable cont.
OPTACC6  = 1    # solution method, 1 - FNSL
OPTACC7  = 1    # non div. solution, 1 - enable
OPTACC8  = 0    # induction mach, 0 - stall, 1 - trip
OPTACC9  = 1    # induction mach failure, 1 - treat as solve
OPTACC10 = 0    # dispatch mode, 0 - disable
OPTACC11 = 1    # zip file option, 0 - disable

# OPCIONES ACCIONES CORRECTIVAS
OPTCOR1 = 0     # corr. actions, 0 - disable, 1 - enable
OPTCOR2 = 5     # num. powerflows
OPTCOR3 = 0     # genenerator control
OPTCOR4 = 0     # load control
OPTCOR5 = 0     # phase shifter control
OPTCOR6 = 0     # off-line generator control
OPTCOR7 = 0     # tap control
OPTCOR8 = 0     # switched shunt control

# VALUES
VALUES1 = 0.1   # bus voltage violation tolerance
VALUES2 = 0.1   # branch flow violation tolerance
VALUES3 = 0.1   # generator control weight
VALUES4 = 0.1   # load control weight
VALUES5 = 0.1   # phase shifter control weight
VALUES6 = 0.1   # off-line gen control weight
VALUES7 = 0.1   # tap settings control weight
VALUES8 = 0.1   # switched shunt control weight

# LABELS - NOMBRE DEL SUBSISTEMA DE CONTROL
LABELS1 = ""    # generator dispatch subsystem, generalmente vacio por OPTACC10 = 0
LABELS2 = ""    # generator control subsystem
LABELS3 = ""    # load control subsystem
LABELS4 = ""    # phase shifter control subsystem
LABELS5 = ""    # off-line gen control subsystem
LABELS6 = ""    # tap settings control subsystem
LABELS7 = ""    # switched shunt control subsystem

# THROWOVER FILE
thrfile = ""

# INERTIA FILE
inlfile = ""


[ASCC]


[ARRBOX]
RATING = "a"			# default rating for report
NUMFMT_FLOW = "%%.0f"	# format for numbers in flows
NUMFMT_VOLT = "%%.4f"	# format for numbers in voltage

